export WINDOWS_DOCKER_VERSION=18.09.0
export WINDOWS_KUBE_BINARIES_URL=https://dl.k8s.io/v1.13.0-beta.1/kubernetes-node-windows-amd64.tar.gz
export LINUX_HYPERKUBE_IMAGE=<docker.io/dockerhubid/hyperkube-amd64:sometag - https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/k8s-developers.md>
export WINDOWS_AZURE_CNI_URL=https://github.com/Azure/azure-container-networking/releases/download/v1.0.12/azure-vnet-cni-windows-amd64-v1.0.12.zip
export LINUX_AZURE_CNI_URL=https://github.com/Azure/azure-container-networking/releases/download/v1.0.12/azure-vnet-cni-linux-amd64-v1.0.12.tgz

export DEPLOY_REGION=eastus
export CONFIG_PATH=./
export DEPLOY_RESOURCE_GROUP=devtest-cluster
export OUTPUT_DIR=~/out
export ACS_ENGINE_PATH=~/go/src/github.com/Azure/acs-engine/bin

export AZURE_SUBSCRIPTION_ID=
export AZURE_CLIENT_ID=
export AZURE_CLIENT_SECRET=